Source: ruby-faraday
Section: ruby
Priority: optional
Maintainer: Julien Vanier <julien@particle.io>
Uploaders: Julien Vanier <julien@particle.io>
Build-Depends: debhelper (>= 9~),
               gem2deb,
               ruby-multipart-post (<< 3),
               ruby-multipart-post (>= 1.2)
Standards-Version: 3.9.7
Vcs-Git: https://github.com/particle-iot/ruby-faraday.git
Vcs-Browser: https://github.com/particle-iot/ruby-faraday.git
Homepage: https://github.com/lostisland/faraday
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: ruby-faraday
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ruby-multipart-post (<< 3),
         ruby-multipart-post (>= 1.2),
         ${misc:Depends},
         ${shlibs:Depends}
Description: HTTP/REST API client library.
 <insert long description, indented with spaces>
